.login{
    // height: 500px;
    // height: auto;
}

.loginInput{
    font-family: $poppinsBold;
    border-radius:10px;
    border: 1px solid #948a8a;
    padding:5px 15px;
    color: #ffffff;
}

.icon{
    margin-right: 10px;
    color: #948a8a;
}

.button{
    margin-bottom: 10px;
}